@use "../mixins/mixins.scss";

@keyframes navigation-rail-item-selected-icon {
    0% {
        width: 32px;
    }
    100% {
        width: 56px;
    }
}

.md-navigation-rail {
    // display: flex;
    display: inline-flex;
    // justify-content: center;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);

    .md-list {
        // flex-direction: row;
        // gap: 8px;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 44px;
    }
    .md-list__item {
        // flex: 1;
        position: relative;
    }
    // .md-list__leading-item--icon{}
    .md-list__label {
        @include mixins.typescale-label-medium();
    }
    .md-badge {
        position: absolute;
    }
}
.md-navigation-rail:not(.md-navigation-rail--expanded) {
    min-width: 80px;
    max-width: 96px;
    justify-content: center;

    .md-list {
        flex: 1;
        // gap: 6px;
        gap: 4px;
    }
    .md-list__item {
        min-height: 0;
        flex-direction: column;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 0px;
        padding-right: 0px;
        row-gap: 0;

        &[selected] {
            background-color: inherit;
            color: inherit;

            .md-list__leading-item--icon {
                background-color: var(--md-sys-color-secondary-container);
                color: var(--md-sys-color-on-secondary-container);
                animation-name: navigation-rail-item-selected-icon;
                animation-duration: var(--md-sys-motion-duration-short3);
                animation-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
            }
        }
    }
    .md-list__leading-item--icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        width: 56px;
        height: 32px;
        border-radius: 16px;
    }
    .md-list__leading + .md-list__content .md-list__label {
        margin-top: 4px;
    }
    // .md-list__label{}
    .md-badge {
        left: 50%;
        top: 22px;
        transform: translate3d(-50%, -50%, 0);
        margin-left: 8px;
        margin-top: -8px;
    }
}
.md-navigation-rail.md-navigation-rail--expanded {
    min-width: 220px;
    max-width: 360px;
    // .md-list{

    // }
    .md-list__item {
        min-height: 56px;
        border-radius: 28px;
        column-gap: 0;
        // margin-top: 12px;
        // margin-bottom: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }
    // .md-list__leading-item--icon{

    // }
    .md-list__leading + .md-list__content .md-list__label {
        margin-left: 8px;
    }
    // .md-list__label{}
    .md-badge {
        left: 28px;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        margin-top: -8px;
        margin-left: 8px;
    }
}
// .md-navigation-rail__list {

// }
