.md-radio-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    position: relative;
}

.md-radio-button__native {
    appearance: none;
    width: 200%;
    height: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;

    &:checked {
        + .md-radio-button__container {
            border-color: var(--md-sys-color-primary);

            .md-radio-button__icon {
                width: 10px;
                height: 10px;
                background-color: var(--md-sys-color-primary);
                border-radius: 5px;
            }
        }
    }
}

.md-radio-button__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 2px solid var(--md-sys-color-on-surface-variant);
    border-radius: 10px;
}

.md-radio-button__icon {
}

.md-radio-button[disabled] {
    pointer-events: none;
    opacity: 38%;
}
