@use "../mixins/mixins.scss";

*{
    margin: 0;
    border: 0;
    padding: 0;
    font: inherit;

    &,
    &::before,
    &::after{
        box-sizing: border-box;
    }
}


body{
    @include mixins.md-typography-body-large;
    background-color: var(--md-sys-color-background);
    color: var(--md-sys-color-on-background);
}
