.md-ripple {
    --md-comp-ripple-radius: 141.4213562373095%;
    --md-comp-ripple-left: 50%;
    --md-comp-ripple-top: 50%;
    --md-comp-ripple-x: 0%;
    --md-comp-ripple-y: 0%;

    position: relative;

    &:after {
        content: "";
        width: var(--md-comp-ripple-radius);
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        left: var(--md-comp-ripple-left);
        top: var(--md-comp-ripple-top);
        transform: translate3d(-50%, -50%, 0) translate3d(var(--md-comp-ripple-x), var(--md-comp-ripple-y), 0);
        z-index: 1;
        pointer-events: none;
        background-color: var(--md-sys-color-primary);
        opacity: 0;
    }
}

.md-ripple--bounded {
    overflow: hidden;
}
.md-ripple--trigger {
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.md-ripple--focus {
    &::after {
        opacity: 10%;
        will-change: width;
        transition-property: width;
        transition-duration: var(--md-sys-motion-duration-short3);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}
.md-ripple--press {
    &::after {
        opacity: 10%;
        width: 0;
        transition: none;
    }
}
.md-ripple--hover {
    &::after {
        opacity: 8%;
    }
}
.md-ripple--drag {
    &::after {
        opacity: 16%;
    }
}
.md-ripple--disabled {
    pointer-events: none;
}
