@use "../mixins/mixins.scss";

.md-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;

    &,
    .md-button__icon {
        will-change: border-radius, background-color, color, border, box-shadow;
        transition-property: border-radius, background-color, color, border, box-shadow;
        transition-duration: var(--md-sys-motion-duration-short3);
        transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    }
}

.md-button__native {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    color: transparent;
    z-index: 10;
}

.md-button--toggle {
    &.md-button--selected {
        .md-button__native {
            font-variation-settings:
                "FILL" 1,
                "wght" 400,
                "GRAD" 0,
                "opsz" 24;
        }
    }
}

.md-button--extra-small {
    height: 32px;
    padding: 0 12px;
    gap: 0 4px;
    @include mixins.typescale-label-large();

    &.md-button--round {
        border-radius: 16px;

        &.md-button--selected {
            border-radius: 12px;
        }
    }
    &.md-button--square {
        border-radius: 12px;

        &.md-button--selected {
            border-radius: 16px;
        }
    }
    &:active {
        border-radius: 8px;
    }

    .md-button__icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}
.md-button--small {
    height: 40px;
    padding: 0 16px;
    gap: 0 8px;
    @include mixins.typescale-label-large();

    &.md-button--round {
        border-radius: 20px;

        &.md-button--selected {
            border-radius: 12px;
        }
    }
    &.md-button--square {
        border-radius: 12px;

        &.md-button--selected {
            border-radius: 20px;
        }
    }
    &:active {
        border-radius: 8px;
    }

    .md-button__icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }
}
.md-button--medium {
    height: 56px;
    padding: 0 24px;
    gap: 0 8px;
    @include mixins.typescale-title-medium();

    &.md-button--round {
        border-radius: 28px;

        &.md-button--selected {
            border-radius: 16px;
        }
    }
    &.md-button--square {
        border-radius: 16px;

        &.md-button--selected {
            border-radius: 28px;
        }
    }
    &:active {
        border-radius: 12px;
    }

    .md-button__icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
}
.md-button--large {
    height: 96px;
    padding: 0 48px;
    gap: 0 12px;
    @include mixins.typescale-headline-small();

    &.md-button--round {
        border-radius: 48px;

        &.md-button--selected {
            border-radius: 28px;
        }
    }
    &.md-button--square {
        border-radius: 28px;

        &.md-button--selected {
            border-radius: 48px;
        }
    }
    &:active {
        border-radius: 16px;
    }

    .md-button__icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
    }
}
.md-button--extra-large {
    height: 136px;
    padding: 0 64px;
    gap: 0 16px;
    @include mixins.typescale-headline-large();

    &.md-button--round {
        border-radius: 68px;

        &.md-button--selected {
            border-radius: 28px;
        }
    }
    &.md-button--square {
        border-radius: 28px;

        &.md-button--selected {
            border-radius: 68px;
        }
    }
    &:active {
        border-radius: 16px;
    }

    .md-button__icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }
}

.md-button--elevated {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);
    box-shadow: var(--md-sys-elevation-level1);

    &.md-button--toggle {
        background-color: var(--md-sys-color-surface-container-low);
        color: var(--md-sys-color-primary);

        &.md-button--selected {
            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }
    }
}
.md-button--filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    &.md-button--toggle {
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);

        &.md-button--selected {
            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }
    }
}
.md-button--tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    &.md-button--toggle {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);

        &.md-button--selected {
            background-color: var(--md-sys-color-secondary);
            color: var(--md-sys-color-on-secondary);
        }
    }
}
.md-button--outlined {
    border: 1px solid var(--md-sys-color-outline-variant);
    color: var(--md-sys-color-on-surface-variant);

    &.md-button--toggle {
        border: 1px solid var(--md-sys-color-outline-variant);
        color: var(--md-sys-color-on-surface-variant);

        &.md-button--selected {
            border: 1px solid var(--md-sys-color-inverse-surface);
            background-color: var(--md-sys-color-inverse-surface);
            color: var(--md-sys-color-inverse-on-surface);
        }
    }
}
.md-button--standard {
    color: var(--md-sys-color-primary);

    &.md-button--toggle {
        color: var(--md-sys-color-primary);

        &.md-button--selected {
            color: var(--md-sys-color-primary);
        }
    }
}
