@use "../mixins/mixins.scss";

.md-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    position: relative;

    will-change: height, padding, border-radius, gap, background-color, color, border;
    transition-property: height, padding, border-radius, gap, background-color, color, border;
    transition-duration: var(--md-sys-motion-duration-short3);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
}

.md-button__native {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: transparent;
    color: transparent;
}

//
.md-button__label {
}
//
.md-button__icon {
}

//
.md-button--default {
}
//
.md-button--toggle {
}

//
.md-button--round {
}
//
.md-button--square {
}

.md-button--extra-small {
    height: 32px;
    padding: 0 12px;
    gap: 0 4px;

    .md-button__icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .md-button__label {
        @include mixins.typescale-label-large();
    }

    &.md-button--round {
        border-radius: 16px;
        &[selected] {
            border-radius: 12px;
        }
    }

    &.md-button--square {
        border-radius: 12px;
        &[selected] {
            border-radius: 16px;
        }
    }
    &:active {
        border-radius: 8px;
    }
}

.md-button--small {
    height: 40px;
    padding: 0 16px;
    gap: 0 8px;

    .md-button__icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
    }

    .md-button__label {
        @include mixins.typescale-label-large();
    }

    &.md-button--round {
        border-radius: 20px;
        &[selected] {
            border-radius: 12px;
        }
    }

    &.md-button--square {
        border-radius: 12px;
        &[selected] {
            border-radius: 20px;
        }
    }
    &:active {
        border-radius: 8px;
    }
}

.md-button--medium {
    height: 56px;
    padding: 0 24px;
    gap: 0 8px;

    .md-button__icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    .md-button__label {
        @include mixins.typescale-title-medium();
    }

    &.md-button--round {
        border-radius: 28px;
        &[selected] {
            border-radius: 16px;
        }
    }

    &.md-button--square {
        border-radius: 16px;
        &[selected] {
            border-radius: 28px;
        }
    }
    &:active {
        border-radius: 12px;
    }
}

.md-button--large {
    height: 96px;
    padding: 0 48px;
    gap: 0 12px;

    .md-button__icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
    }

    .md-button__label {
        @include mixins.typescale-headline-small();
    }

    &.md-button--round {
        border-radius: 48px;
        &[selected] {
            border-radius: 28px;
        }
    }

    &.md-button--square {
        border-radius: 28px;
        &[selected] {
            border-radius: 48px;
        }
    }
    &:active {
        border-radius: 16px;
    }
}

.md-button--extra-large {
    height: 136px;
    padding: 0 64px;
    gap: 0 16px;

    .md-button__icon {
        width: 40px;
        height: 40px;
        font-size: 40px;
    }

    .md-button__label {
        @include mixins.typescale-headline-large();
    }

    &.md-button--round {
        border-radius: 68px;
        &[selected] {
            border-radius: 28px;
        }
    }

    &.md-button--square {
        border-radius: 28px;
        &[selected] {
            border-radius: 68px;
        }
    }
    &:active {
        border-radius: 16px;
    }
}

.md-button--elevated {
    background-color: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-primary);

    &.md-button--toggle {
        background-color: var(--md-sys-color-surface-container-low);
        color: var(--md-sys-color-primary);
        &[selected] {
            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }
    }
}

.md-button--filled {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);

    &.md-button--toggle {
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface-variant);
        &[selected] {
            background-color: var(--md-sys-color-primary);
            color: var(--md-sys-color-on-primary);
        }
    }
}

.md-button--tonal {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);

    &.md-button--toggle {
        background-color: var(--md-sys-color-secondary-container);
        color: var(--md-sys-color-on-secondary-container);
        &[selected] {
            background-color: var(--md-sys-color-secondary);
            color: var(--md-sys-color-on-secondary);
        }
    }
}

.md-button--outlined {
    border: 1px solid var(--md-sys-color-outline-variant);
    color: var(--md-sys-color-on-surface-variant);

    &.md-button--toggle {
        border: 1px solid var(--md-sys-color-outline-variant);
        color: var(--md-sys-color-on-surface-variant);
        &[selected] {
            background-color: var(--md-sys-color-inverse-surface);
            border: 1px solid var(--md-sys-color-inverse-surface);
            color: var(--md-sys-color-inverse-on-surface);
        }
    }
}

.md-button--text {
    color: var(--md-sys-color-primary);

    &.md-button--toggle {
        &[selected] {
        }
    }
}
