@use "../mixins/mixins.scss";

.md-navigation-drawer {
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);

    .md-list,
    .md-tree,
    .md-push-menu {
        padding: 12px 0;
        margin-left: 12px;
        margin-right: 12px;
    }

    .md-list__item {
        border-radius: 28px;
        gap: 0 12px;
    }

    .md-list__label {
        @include mixins.typescale-label-large();
    }

    .md-list__trailing-item--badge {
        padding: 0;
        @include mixins.typescale-label-large();
        background-color: inherit;
        color: inherit;
    }

    &.md-layout-border__item--modal {
        background-color: var(--md-sys-color-surface-container-low);
        color: var(--md-sys-color-on-surface);
    }
}
