.md-scrim{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--md-sys-color-scrim);
    opacity: 0%;
    pointer-events: none;
    transition: opacity var(--md-sys-motion-duration-short3) cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
    &.md-scrim--open{
        pointer-events: all;
        opacity: 40%;
        transition: opacity var(--md-sys-motion-duration-short2) cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));
    }
}