.md-avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.md-avatar__native {
    width: 100%;
    height: 100%;
}

.md-avatar--extra-small {
    width: 18px;
    height: 18px;
}

.md-avatar--small {
    width: 20px;
    height: 20px;
}

.md-avatar--medium {
    width: 24px;
    height: 24px;
}

.md-avatar--large {
    width: 32px;
    height: 32px;
}

.md-avatar--extra-large {
    width: 40px;
    height: 40px;
}
