.md-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.md-layout__header {
    flex: 0 0 auto;
    position: sticky;
    top: 0;
}
.md-layout__body {
    flex: 1;
}
.md-layout__footer {
    flex: 0 0 auto;
    position: sticky;
    bottom: 0;
}
