.md-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface);
}
.md-toolbar--docked{
    padding: 0 16px;
    // gap: 0 32px;
    
}
.md-toolbar--floating{
    display: inline-flex;
    border-radius: 28px;
    padding: 8px;
    gap: 0 4px;
    box-shadow: var(--md-sys-elevation-level3);
}
.md-tool{
    flex: 0 0 auto;
}