:root {
    --md-comp-layout-border-item-north-height: 64px;
    --md-comp-layout-border-item-west-width: 256px;
    --md-comp-layout-border-item-east-width: 256px;
    --md-comp-layout-border-item-south-height: 64px;

    --md-comp-layout-border-item-north-margin: 24px;
    --md-comp-layout-border-item-west-margin: 24px;
    --md-comp-layout-border-item-east-margin: 24px;
    --md-comp-layout-border-item-south-margin: 24px;
}
.md-layout-border {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "north north north"
        "west center east"
        "south south south";
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.md-layout-border__item {
    overflow: auto;
    will-change: margin;
    transition-property: margin;
    transition-duration: var(--md-sys-motion-duration-short2);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-accelerate));

    &.md-layout-border__item--modal {
        position: absolute;
        z-index: 20;
        background-color: var(--md-sys-color-surface-container);
        color: var(--md-sys-color-on-surface);

        &.md-layout-border__item--open {
            transition-property: margin;
            transition-duration: var(--md-sys-motion-duration-short3);
            transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
        }
    }

}

.md-layout-border__item--north {
    grid-area: north;
    height: var(--md-comp-layout-border-item-north-height);
    margin-top: calc(0px - var(--md-comp-layout-border-item-north-height) - var(--md-comp-layout-border-item-north-margin));

    &.md-layout-border__item--margin {
        margin-bottom: var(--md-comp-layout-border-item-north-margin);
    }

    &.md-layout-border__item--open {
        margin-top: 0;
    }

    &.md-layout-border__item--modal {
        left: 0;
        top: 0;
        right: 0;
    }
}

.md-layout-border__item--west {
    grid-area: west;
    width: var(--md-comp-layout-border-item-west-width);
    margin-left: calc(0px - var(--md-comp-layout-border-item-west-width) - var(--md-comp-layout-border-item-west-margin));

    &.md-layout-border__item--margin {
        margin-right: var(--md-comp-layout-border-item-west-margin);
    }

    &.md-layout-border__item--open {
        margin-left: 0;
    }

    &.md-layout-border__item--modal {
        left: 0;
        top: 0;
        bottom: 0;
    }
}

.md-layout-border__item--center {
    grid-area: center;
}

.md-layout-border__item--east {
    grid-area: east;
    width: var(--md-comp-layout-border-item-east-width);
    margin-right: calc(0px - var(--md-comp-layout-border-item-east-width) - var(--md-comp-layout-border-item-east-margin));

    &.md-layout-border__item--margin {
        margin-left: var(--md-comp-layout-border-item-east-margin);
    }

    &.md-layout-border__item--open {
        margin-right: 0;
    }

    &.md-layout-border__item--modal {
        top: 0;
        right: 0;
        bottom: 0;
    }
}

.md-layout-border__item--south {
    grid-area: south;
    height: var(--md-comp-layout-border-item-south-height);
    margin-bottom: calc(0px - var(--md-comp-layout-border-item-south-height) - var(--md-comp-layout-border-item-south-margin));

    &.md-layout-border__item--margin {
        margin-top: var(--md-comp-layout-border-item-south-margin);
    }

    &.md-layout-border__item--open {
        margin-bottom: 0;
    }

    &.md-layout-border__item--modal {
        left: 0;
        right: 0;
        bottom: 0;
    }
}
