@use "../mixins/mixins.scss";

.md-fab {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    box-shadow: var(--md-sys-elevation-level3);

    will-change: width;
    transition-property: width;
    transition-duration: var(--md-sys-motion-duration-short3);
    transition-timing-function: cubic-bezier(var(--md-sys-motion-easing-standard-decelerate));
}

.md-fab--unelevated {
    box-shadow: var(--md-sys-elevation-level0);
}

.md-fab__icon {
    flex: 0 0 auto;
}

.md-fab__label {
    overflow: hidden;
    white-space: nowrap;
}

.md-fab--small {
    width: 56px;
    height: 56px;
    border-radius: 16px;
    padding: 16px;

    .md-fab__icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
    }
}

.md-fab--medium {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    padding: 26px;

    .md-fab__icon {
        width: 28px;
        height: 28px;
        font-size: 28px;
    }
}

.md-fab--large {
    width: 96px;
    height: 96px;
    border-radius: 28px;
    padding: 30px;

    .md-fab__icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }
}

.md-fab--extended {
    width: auto;
    min-width: 80px;

    &.md-fab--small {
        padding-left: 16px;
        padding-right: 16px;
        column-gap: 8px;

        .md-fab__label {
            @include mixins.typescale-title-medium();
        }
    }

    &.md-fab--medium {
        padding-left: 26px;
        padding-right: 26px;
        column-gap: 12px;

        .md-fab__label {
            @include mixins.typescale-title-large();
        }
    }

    &.md-fab--large {
        padding-left: 28px;
        padding-right: 28px;
        column-gap: 16px;

        .md-fab__label {
            @include mixins.typescale-headline-small();
        }
    }
}

.md-fab--primary-container {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

.md-fab--secondary-container {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.md-fab--tertiary-container {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}

.md-fab--primary {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

.md-fab--secondary {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}

.md-fab--tertiary {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}
