.md-fab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 56px;
    width: 56px;
    border-radius: 16px;
    box-shadow: var(--md-sys-elevation-level3);
}
.md-fab__icon {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.md-fab--medium {
    width: 80px;
    height: 80px;
    border-radius: 20px;

    .md-fab__icon {
        width: 28px;
        height: 28px;
        font-size: 28px;
    }
}
.md-fab--large {
    width: 96px;
    height: 96px;
    border-radius: 28px;

    .md-fab__icon {
        width: 36px;
        height: 36px;
        font-size: 36px;
    }
}

.md-fab--primary-container {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}
.md-fab--secondary-container {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}
.md-fab--tertiary-container {
    background-color: var(--md-sys-color-tertiary-container);
    color: var(--md-sys-color-on-tertiary-container);
}
.md-fab--primary {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}
.md-fab--secondary {
    background-color: var(--md-sys-color-secondary);
    color: var(--md-sys-color-on-secondary);
}
.md-fab--tertiary {
    background-color: var(--md-sys-color-tertiary);
    color: var(--md-sys-color-on-tertiary);
}
