.md-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    position: relative;
}
.md-checkbox__native {
    appearance: none;
    width: 200%;
    height: 200%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 1;

    &:indeterminate {
        + .md-checkbox__container {
            border-color: var(--md-sys-color-primary);
            background-color: var(--md-sys-color-primary);

            .md-checkbox__icon {
                width: 10px;
                height: 2px;
                background-color: var(--md-sys-color-on-primary);
            }
        }
    }
    &:checked {
        + .md-checkbox__container {
            border-color: var(--md-sys-color-primary);
            background-color: var(--md-sys-color-primary);

            .md-checkbox__icon {
                width: 10px;
                height: 5px;
                border: 2px solid var(--md-sys-color-on-primary);
                border-top-width: 0;
                border-right-width: 0;
                transform: rotate(-45deg);
                margin-top: -4px;
            }
        }
    }
}
.md-checkbox__container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 2px solid var(--md-sys-color-on-surface-variant);
    border-radius: 2px;
}
.md-checkbox__icon {
}

.md-checkbox[disabled] {
    pointer-events: none;
    opacity: 38%;
}
