@use "../mixins/mixins.scss";

.md-tree {
    display: flex;
    flex-direction: column;
    padding: 8px 0;
    // background-color: var(--md-sys-color-surface-container); // remove it later
}
.md-tree__item {
    display: flex;
    align-items: center;
    padding: 8px 16px 8px calc(16px + (24px * var(--md-comp-tree-item-level, 0)));
    gap: 0 16px;
}
.md-tree__leading {
    flex: 0 0 auto;
}
// .md-tree__leading-item--avatar{}
// .md-tree__leading-item--image{}
.md-tree__leading-item--video {
    margin: 4px 0 4px -16px;
}
// .md-tree__leading-item--icon{}
// .md-tree__leading-item--checkbox{}
// .md-tree__leading-item--radio-button{}
.md-tree__content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.md-tree__label {
    @include mixins.typescale-body-large();
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.md-tree__supporting-text {
    @include mixins.typescale-body-medium();
    max-height: calc(var(--md-sys-typescale-body-medium-line-height) * 2);
    overflow: hidden;
}
.md-tree__trailing {
    flex: 0 0 auto;
}
.md-tree__item--one-line {
    min-height: 56px;
}
.md-tree__item--two-line {
    min-height: 72px;
}
.md-tree__item--three-line {
    min-height: 88px;
    padding-top: 12px;
    padding-bottom: 12px;
    align-items: flex-start;

    .md-tree__leading-item--video {
        margin: 0 0 0 -16px;
    }
}

// .md-tree__item:not(.md-tree__item--interactive) {
//     &::after {
//         display: none;
//     }
// }

.md-tree__item[selected] {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}
